<button {{action 'testManagerCreation'}}>{{creationButtonText}}</button>
<ul>
	{{#each model as |element|}}
		<li> 
			{{partial elementComponent}}
			<button {{action 'testManagerDelete'}}>Delete</button>
		</li> 
	{{/each}}
</ul>
