<select onChange={{action 'changeTestState' value="target.value"}}>
	{{#each model as |state|}}
		<option value={{state.id}} selected={{eq state.id test.testState.id}}>{{state.name}}</option>
	{{/each}}
</select>
